div.TimeSelector {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.c-TimeSelector {
    background-color: floralwhite;
}

.time-label {
    font-weight: bold;
    font-size: 21px;

    padding: 0 10px;

}

.selector-popup-top {
    background-color: mediumaquamarine;
}

.selector-number {
    color: lightseagreen;
    font-size: 40px;
    font-weight: bold;
}

.selector-number.selected {
    color: white;
}

.day-time {
    color: darkseagreen;
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
}

.day-time.selected {
    color: lavender;
}

.c-TimeSelector-popup {
    background-color: white;
    z-index: 100;
}

.c-TimeSelector-popup .popupContent .gwt-Button {
    border: none;
    background: none;
    padding: 5px;
    color: mediumaquamarine;
    font-size: 15px;
    font-weight: 500;
    margin-right: 15px;
    cursor: pointer;
}

/*private String TOP_BG = "mediumaquamarine";*/
/*private String NUMBER_SELECTED = "white";*/
/*private String NUMBER_INACTIVE = "lightseagreen";*/
/*private String DAY_TIME_SELECTED = "lavender";*/
/*private String DAY_TIME_INACTIVE = "darkseagreen";*/